/******* Sticky footer (based on bootstrap examples) *********/
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

footer {
	position: absolute;
  bottom: 0;
  width: 100%;
}

/******* Colors ********/
.white {
  color: white;
}

/******* Paragraph larger ********/
p {
   font-size: 14px;
}

/******* Text styles ******/
.title {
    font-family: "Shadows Into Light";
    color: #389E9E !important;
    /*font-size: 34px;*/
    font-weight: normal !important;
    font-style: normal;
}

body {
    font-family: "Merriweather";
    color: #000000;
    font-size: 14px;
    line-height: 22px;
}

/******* Backgrounds *********/
.bg-image {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.bg-transparent {
  background: transparent;
}

/******* Footer stands clearer *********/
footer {
  background-color: #f5f5f5;
  padding-top: 20px;
}

/******* Incorporation of the logo inside navbar *********/
.navbar {
  margin-bottom: 0;
}

.navbar-nav {
  padding-top: 15px; /* make navbar links on the same line with brand image */
}

/******* Get rid of borders *********/
.withoutborder {
  border: none;
  box-shadow: none; 
}

/******* Options for masonry *********/
.grid-item {
  margin: 0px;
}

/******* Custom buttons ******/
.btn-grey {
  background-color: hsl(0, 0%, 79%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134134134", endColorstr="#c9c9c9");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#134134134), to(#c9c9c9));
  background-image: -moz-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -ms-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #134134134), color-stop(100%, #c9c9c9));
  background-image: -webkit-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -o-linear-gradient(top, #134134134, #c9c9c9);
  background-image: linear-gradient(#134134134, #c9c9c9);
  border-color: #c9c9c9 #c9c9c9 hsl(0, 0%, 68.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
  -webkit-font-smoothing: antialiased;
}

/******* Social (see http://www.himpfen.com/social-sharing-buttons-bootstrap-font-awesome/) *********/
.btn-twitter {
    background: #00acee;
    border-radius: 0;
    color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
    color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}
.btn-facebook {
    background: #3b5998;
    border-radius: 0;
    color: #fff
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}