/******* Sticky footer (based on bootstrap examples) *********/
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

footer {
	position: absolute;
  bottom: 0;
  width: 100%;
}

/******* Colors ********/
.white {
  color: white;
}

/******* Paragraph larger ********/
p {
   font-size: 16px;
}

/******* Banner *********/
.banner {
  background: transparent no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url('/images/home-bg.jpg');
}

/******* Footer stands clearer *********/
footer {
  background-color: #f5f5f5;
  padding-top: 20px;
}

/******* Incorporation of the logo inside navbar *********/
.navbar {
  margin-bottom: 0;
}

.navbar-nav {
  padding-top: 15px; /* make navbar links on the same line with brand image */
}

/******* Get rid of borders *********/
.thumbnail {
  /*border: none;*/
}
.panel {
  /*border: none;
  box-shadow: none;*/
}

/******* Options for masonry *********/
.grid-item {
  margin: 0px;
}

/******* Social (see http://www.himpfen.com/social-sharing-buttons-bootstrap-font-awesome/) *********/
.btn-twitter {
    background: #00acee;
    border-radius: 0;
    color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
    color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}
.btn-facebook {
    background: #3b5998;
    border-radius: 0;
    color: #fff
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}

/******** Badges *********/
.badge-danger {
  background-color: #d43f3a;
}

.badge-warning {
  background-color: #d58512;
}

.badge-success {
  background-color: #398439;
}

.badge-info {
  background-color: #269abc;
}

.badge-inverse {
  background-color: #333333;
}