---
layout: mansory
title: Minibo - Le blog
---
<div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1>Blog</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="grid">
              {% for post in site.posts %}
                <div class="grid-item col-sm-6">
                  <div class="thumbnail text-center">
                    <a href="{{ post.url }}"><img src="{{ post.image }}"></a>
                    <div class="caption">
                      <h3>{{ post.title }}</h3>
                      <p>{{ post.date }}</p>
                      <p><a href="{{ post.url }}" class="btn btn-default" role="button">En savoir plus</a></p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4"> <!-- see later to affix it -->
        <div class="panel panel-default">
          <div class="panel-heading">Recherche</div>
          <div class="panel-body">
              Rajouter une barre de recherche
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Articles récents</div>
          <div class="panel-body">
              {% for post in site.posts limit:5%}<p><a href="{{ post.url }}">{{ post.title }}</a></p>{% endfor %}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Mots clés</div>
          <div class="panel-body">
              {{range $i, $tag := .Tags}}<button type="button" class="btn btn-link"><a href="/blog/{{$tag}}">{{$tag}}</a></button>{{end}}
          </div>
        </div>
      </div>
    </div>
</div>