---
layout: default
title: Mes créations
---
<style>
    .bg-image {
        background-image: url('{{ site.baseurl }}/{{ site.images }}/banner1.png'); 
        height: 400px;
    }
</style>

<header class="bg-image">
    
</header>
<div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
          <h1>Mes créations</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        {% for product in site.data.products %}
        <div id="collapse_{{ forloop.index }}" class="collapse row description">
          <div class="col-sm-6">
            <img src="{{ site.images }}/{{ product.image }}">
          </div>
          <div class="col-sm-6">
            <button type="button" class="close" 
              data-dismiss="alert" aria-label="Close"
              data-toggle="collapse" data-target="#collapse_{{ forloop.index }}" aria-expanded="false" aria-controls="collapse_{{ forloop.index }}"><span aria-hidden="true">&times;</span></button>
            <h3>{{ product.title }}</h3>
            <p>{{ product.description }}</p>
            <p><a href="{{ site.baseurl }}/{{ product.post }}" class="btn btn-default" role="button">Lire la suite</a></p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="grid">
          {% for product in site.data.products %}
          <div class="grid-item col-sm-4">
            <a data-toggle="collapse" href="#collapse_{{ forloop.index }}" aria-expanded="false" aria-controls="collapse_{{ forloop.index }}"><img src="{{ site.images }}/{{ product.image }}" class="thumbnail"></a>
          </div>
          {% endfor %}
      </div>
    </div>
</div>