<div class="thumbnail text-center">
	<img src="{{ site.baseurl }}/{{ site.images }}/me.png" alt="" class="img-responsive">
    <div class="caption">
    	<p>
    		<a href="https://www.facebook.com/minibohomemade">
    			<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
				</span>
    		</a>
			<a href="mailto:minibo.contact@gmail.com">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
				</span>
			</a>
		</p>
    </div>
</div>