<nav class="navbar navbar-default withoutborder">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
				<img src="{{ site.baseurl }}/{{ site.images }}/banners/logo.png">
			</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="{% if page.url == '/index.html' %}active{% endif %}"><a href="{{site.baseurl}}/">Accueil</a></li>
				<li class="{% if page.url == '/blog/index.html' or page.url contains 'tag' %}active{% endif %}"><a href="{{site.baseurl}}/blog/index.html">Blog</a></li>
				<li class="{% if page.url == '/creative_ideas.html' %}active{% endif %}"><a href="{{site.baseurl}}/creative_ideas.html">Idées créatives</a></li>
				<li class="{% if page.url == '/with_friends.html' %}active{% endif %}"><a href="{{site.baseurl}}/with_friends.html">Ateliers</a></li>
				<li class="{% if page.url == '/about.html' %}active{% endif %}"><a href="{{site.baseurl}}/about.html">A propos</a></li>
			</ul>
		</div>
	</div>
</nav>