<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>
{{ partial "navigation.html" . }}
<div class="banner banner-{{ index .Params.tags 0}}"></div>

<div class="container">
	<div class="row">
		<div class="col-sm-9">
			<div class="row">
			    <div class="col-sm-12">
			   		<h1 class="title">{{ .Title }}</h1>
			        <ul class="list-inline">
			            <li><p class="text-muted"><em>{{ .Date.Format "Mon Jan 2, 2006" }}</em></p></li>
			            <li><p>{{ range .Params.tags }}{{ partial "tag.html" . }}{{ end }}</p></li>
			        </ul>
			    </div>
			</div>
			<div class="row">
			 	<div class="col-sm-12">
					<i class="fa fa-quote-left fa-3x fa-pull-left"></i>{{ .Content }}
			    </div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p>{{ partial "share.html" . }}</p>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel panel-default">
  				<div class="panel-body">
					{{ partial "me.html" . }}
				</div>
			</div>
			<div class="panel panel-default">
  				<div class="panel-body">
					<div class="input-group">
						<input id="search-input" type="text" class="form-control" placeholder="Rechercher...">
						<span class="input-group-addon"><i class="fa fa-search"></i></span>
					</div>
					<ul class="fa-ul" id="results-container"></ul>
				</div>
			</div>
			<div class="panel panel-default">
  				<div class="panel-body">
					<p><strong>Articles récents</strong></p>
					{{ range first 5 .Site.Pages }}
        				<p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
    				{{ end }}
				</div>
			</div>
			<div class="panel panel-default">
  				<div class="panel-body">
	  				<p><strong>Mots clés</strong></p>
	  				<p>{{ range $name, $taxonomy := .Site.Taxonomies.tags }}{{ partial "tag.html" $name }}{{ end }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
{{ partial "disqus.html" . }}
{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>