---
layout: sidebar
title: Le blog
---
<div class="row">
  <div class="col-sm-12 text-center">
    <h1>Le blog</h1>
    {% if page.tag %}
      <p><i class="fa fa-tag"></i> {{ page.tag }}</p>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="grid">

      <!-- either display posts based on tag filter or paginated ones -->
      {% if page.tag %}
        {% assign posts = site.tags[page.tag] %}
      {% else %}
        {% assign posts = paginator.posts %}
      {% endif %}
      
      {% for post in posts %}
        <div class="grid-item col-sm-6">
          <div class="thumbnail text-center">
            <a href="{{ site.baseurl }}/{{ post.url }}"><img src="{{ site.baseurl }}/{{ site.images }}/{{ post.image }}"></a>
            <div class="caption">
              <h3>{{ post.title }}</h3>
              <p>{% include date.html date=post.date %}</p>
              <p><a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-default" role="button">En savoir plus</a></p>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

    <!-- infinite scrolling will work only if tag filtering -->
    {% unless page.tag %}
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
        {% else %}
          <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
          <span class="next ">Next</span>
        {% endif %}
      </div>
    {% endunless %}

  </div>
</div>