---
layout: sidebar
---
<div class="row">
    <div class="col-sm-12">
   		<h1>{{ page.title}}</h1>
        <p><em>{% include date.html date=page.date %}</em></p>
        <p>{% include tags.html tags=page.tags %}</p>
    </div>
</div>
<div class="row">
 	<div class="col-sm-12">
		{{ content }}
    </div>
</div>
<div class="row">
	<div class="col-sm-12">
		<p><strong>Partager</strong> <a href="http://twitter.com/home?status={{.CurrentURL}}" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a> <a href="https://www.facebook.com/sharer/sharer.php?u={{.CurrentURL}}" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a></p>
	</div>
</div>