---
layout: sidebar
---
<div class="row">
    <div class="col-sm-12">
   		<h1 class="post-title">{{ page.title}}</h1>
        <ul class="list-inline">
            <li><p class="text-muted"><em>{% include date.html date=page.date %}</em></p></li>
            <li><p>{% include tags.html tags=page.tags %}</p></li>
        </ul>
    </div>
</div>
<div class="row">
 	<div class="col-sm-12">
		<i class="fa fa-quote-left fa-5x"></i>{{ content }}
    </div>
</div>
<div class="row">
	<div class="col-sm-12">
		<p>{% include share.html %}</p>
	</div>
</div>