---
layout: default
---
<div class="container">
	<div class="row">
		<div class="col-sm-8">
			{{ content }}
	    </div>
		<div class="col-sm-4"> <!-- see later to affix it -->
		    <div class="panel panel-default">
	  			<div class="panel-heading">Recherche</div>
	  			<div class="panel-body">Rajouter une barre de recherche</div>
			</div>
			<div class="panel panel-default">
	  			<div class="panel-heading">Articles récents</div>
	  			<div class="panel-body">
	    			{% for post in site.related_posts %}<p><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>{% endfor %}
	  			</div>
			</div>
			<div class="panel panel-default">
	  			<div class="panel-heading">Mots clés</div>
	  			<div class="panel-body">
	    			{% include tags.html tags=site.data.tags %}
	  			</div>
			</div>
		</div>
	</div>
</div>